.combtn{
    padding: 7px 7px;
    float: right;
    margin-right: 60px;
    margin-top: 15px;   
}

.selfBtn{
    float: right;
    padding: 10px 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.2px;
    background-color: darkblue;
}

.selfBtn:hover{
    cursor: pointer;
    border: 1px solid darkblue;
    background-color: #fff;
    color: darkblue;
}

.selfBtn:focus{
    outline: none;
}